<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>IT-блог Михаил Терехова</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--    <link rel="stylesheet" href="../static/css/style.css">-->
</head>

<body>

    {% block nav %}
    <header class="header">
        <div class="logo">
            <a href="/"><img src="{{url_for( 'static', filename='img/logo.jpg')}}" alt="foto"></a>

        </div>
        <ul class='list'>
            <li><a href="/move_files">Move files</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contacts</a></li>

        </ul>
    </header>
    {% endblock %}

    <div class="clr"></div>

    {% block body %}
    body
    {% endblock %}
</body>

</html>
